body {
  margin: 0;
  background: linear-gradient(45deg, #a8edea, #fed6e3);
  font-family: sans-serif;
}

.quiz-container {
  top: 30px;
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  min-width: 497px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  z-index: 0;
}
/* модальное окно */
.quiz-over-modal {
  display: none;
  border-radius: 10px;;
  z-index: 1;
  left: 725px;
  top: 150px;
  background-color: #42b983;
  width: 450px;
  height: 300px;
  position: absolute;
}

.content {
  padding: 15px;
  text-align: center;
}
/* контент в главном окне*/
.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.mainBd {
  background-image: url('https://sun9-45.userapi.com/impg/iKAOaiosi4CwA4m4EZgJBdIbM7xJdNKn0jEZLA/nB5vwzSK6pI.jpg?size=1152x754&quality=96&sign=ce4607da4671c64d08c1779ba12d4c48&type=album');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#btn-try-again {
  color: #42b983;
  position: relative;
  border-radius: 99px;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background-color: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 15px;
}

.quiz-over-modal.active {
  display: block;
}

.contentText {
  margin: 0 auto;
  color: white;
  font-size: 25px;
}

.contentGlavText {
  margin: 0 auto;
  color: white;
  font-size: 25px;
}

.GlavText {
  position: relative;
  top: 30px;
  margin: 0 auto;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color: black;
}

.Btn {
  top: 50px;
  color: #42b983;
  position: relative;
  border-radius: 99px;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background-color: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
}
.btn:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.BtnText {
  color: black;
}

.question-number h3 {
  color: darkcyan;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}

.questionNoActive {
  max-width: none !important;
  font-size: 24px;
  color: #000000;
  padding: 15px 0;
  margin-bottom: 10px;
}

#question {
  max-width: 500px;
  font-size: 24px;
  color: #000000;
  padding: 15px 0;
  margin-bottom: 10px;
}

#audioQuestion {
  position: relative;
  top: 8px;
}

#QuestionImg {
  left: 625px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.audioNoActive {
  display: none;
}

.noactive {
  display: none;
}

.option {
  max-width: 500px;
  padding: 15px 0 0 10px;
  color: black;
  border-radius: 5px;
  background-color: #e4e2e2;
  height: 40px;
  margin-bottom: 15px;
}

.options div:hover {
  background-color: #ccccccaf;
}

.options div.correct {
  color: #ffffff;
  background-color: green;
}

.options div.wrong {
  color: #ffffff;
  background-color: red;
}

.options div.disabled {
  pointer-events: none;
}

#answers-tracker div {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

#answers-tracker div.correct {
  height: 40px;
  width: 40px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

#answers-tracker div.wrong {
  height: 40px;
  width: 40px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.button {
  border-bottom: 1px solid #ccc;
}

#btn-next {
  border-radius: 5px;
  background-color: #75fcfc;
  height: 25px;
  width: 100px;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}

#voprosName {
  padding-top: 10px;
  font-size: 24px;
}
